[defaults]
any_errors_fatal = True
stdout_callback = debug
stderr_callback = debug
gathering = smart
forks = 10
host_key_checking = False
inventory = inventory,../../vendor/stackhpc/ansible-slurm-appliance/environments/common/inventory
collections_path = ../../ansible/collections
filter_plugins = ../../ansible/filter_plugins:../../vendor/stackhpc/ansible-slurm-appliance/ansible/filter_plugins
default_vars_plugin_path = ../../vars_plugins
vars_plugins_enabled = host_group_vars,cwd_host_group_vars
roles_path = ../../vendor/stackhpc/ansible-slurm-appliance/ansible/roles:../../roles

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=240s -o PreferredAuthentications=publickey -o UserKnownHostsFile=/dev/null
pipelining = True
